.container{
    display: flex;
    width: 70%;
    margin: auto;
    position: relative;
    top: 100px;
}
.left{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
}
.left input{
    width: 60%;
    margin: 10px;
    position: inherit;
    padding: 5px;
    left: 80px;
    outline: none;
}
.left button{
    width: 150px;
    margin-bottom: 5px;
    position: inherit;
    left: 140px;
    padding: 2px;

}
.right{
    width: 50%;
    /* background: lightblue; */
    text-align: center;
}